.menu{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    display: inline-block;
    background-image: linear-gradient(173deg, var(--medium-pink) 24%, var(--night-blue) 66%);
}

.container{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: 'Roboto';
}

.img-logo {
    display: flex;
    margin-top: 1%;
}

.search{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    background-color:#ebe9d7;
    border-radius: 2%;
    width: 300px;
    height: 30px;
}

.inpsearch{
    float:left;
    background-color:transparent;
    padding-left:5px;
    align-items: center;
    justify-content: center;
    font-style:'Roboto';
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
}

#btnBusca{
    border:none;
    float:left;
    height:32px;
    width: 32px;
    margin-top: 0.28px;
    font-weight:bold;
    cursor: pointer;
}