.FormLogin {
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-logo {
  width: 100px;
  margin: 10px 0 40px;
}

p{
  font-family: 'Roboto';
  font-size: 1.063rem;
  text-align: center;
  color: var(--charcoal-grey);
}

.title{
  font-family: 'Roboto';
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: -2%;
  color: var(--black-54);
  font-size: 45px;
}

.warning {
  color: #ff3333;
  margin-bottom: 15px;
  border: 1px solid #ff3333;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.input-icon{
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

img{
  min-width: 40px;
  margin-top: -35px;
}

.inplogin {
  flex: 1;
  font-family: Roboto;
  height: 46px;
  margin-bottom: 10%;
  padding: 15px 20px;
  color: var(--charcoal-grey);
  background-color: #ebe9d7;
  font-size: 18px;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--charcoal-grey);
}

.passwordIcon{
  float: left;
  width: 10%;
  height: 5%;
  margin-top: 25px;
  cursor: pointer;
}

button {
  color: #fff;
  font-size: 16px;
  background: #57bbbc;
  height: 56px;
  border: 0;
  border-radius: 5px;
  width: 100%;
}
hr {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
}
a {
  font-size: 16;
  font-weight: bold;
  color: #999;
  text-decoration: none;
}
