body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #ebe9d7;
  }
  
:root{
    --white: #d8d8d8;
    --white-two: #ffffff;
    --dark-indigo: #1a0e49;
    --warm-grey: #8d8c8c;
    --charcoal-grey-two: #403e4d;
    --greyish: #b5b4b4;
    --medium-pink: #ee4c77;
    --charcoal-grey: #383743;
    --black-54: rgba(0, 0, 0, 0.54);
    --night-blue: #0d0430;
  }
  
.Header {
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center; 
}
  
  link {
    color: #61dafb;
  }

  